#main {
  background-color: white;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #454749;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  align-self: center;
  animation: spin 2s linear infinite;
}

.loading * {
  display: none;
}

.loaded {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html, body {
  margin: 0;
}

#refresh-btn {
  align-self: flex-end;
  margin: 5px
}

#content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.content {
  width: 100%;
  align-self: center;
  border-width: 10px;
}

.content::before {
  padding-left: 10px;
}

.last-update::before {
  border-left: 6px solid yellow;
  content: "Last Update: "
}

.last-update {
  background-color:rgb(229, 229, 182);

}

.confirmed::before {
  border-left: 6px solid royalblue;
  content: "Confirmed : ";
}

.confirmed {
  background-color: rgb(135, 157, 224);
}

.death::before {
  content: "Death : ";
  border-left: 6px solid red;
}

.death {
  background-color: rgb(223, 184, 184);
}

.recovered::before {
  border-left: 6px solid green;
  content: "Recovered : ";
}

.recovered {
  background-color: rgb(144, 221, 144);
}